@charset "UTF-8";

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    color: white;
    background-color: rgba(0, 0, 0, 0.719);
}

.image-container {
    position: relative;
    width: 100%;
    height: 100vh; /* Ocupa toda a altura da tela */
    overflow: hidden;
}

.image-background {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta a imagem para cobrir todo o container */
    position: absolute;
    top: 0;
    left: 0;
}

/* Div superior à direita */
.top-right {
    position: absolute;
    top: 10%;
    right: 15%;
    color: white;
    padding: 50px;
    background-color: rgb(0, 0, 0); 
    border-radius: 100px;
    z-index: 2;
    width: 30%; 
    text-align: center;
    
    box-shadow: 0px 4px 20px #eecc0d; /* Sombra abaixo do contêiner */
}

/* Div inferior à esquerda */
.bottom-left {
  position: absolute;
  bottom: 5%; /* Reduza o valor de 'bottom' para mover o container mais para baixo */
  right: 15%;
  left: 20%;  
  color: white;
  padding: 50px; 
  background-color: rgb(0, 0, 0); 
  border-radius: 100px;
  z-index: 2;
  width: 30%; 
  text-align: center;
  
  box-shadow: 0px 4px 20px #eecc0d; /* Sombra abaixo do contêiner */
}

/* Container das linhas de botões */
.button-container {
    display: flex;
    flex-direction: column;
    gap: 40px; /* Espaçamento entre as linhas */
    

}

/* Linha de botões */
.button-row {
    display: flex;
    justify-content: space-between; /* Distribui os botões uniformemente */
    gap: 50px;
    
}

/* Estilos para os botões */
.nav-button {
    background-color: #000000;
    color: #FFD700;
    padding: 5px 5px; /* Reduz o padding para botões menores */
    text-align: center;
    border: 3px solid #eecc0d;
    border-radius: 20px;
    font-size: 0.8em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 120px; /* Largura definida para os botões */
    padding: 20px 10px; /* Aumenta o padding para mais altura e largura */
    
    box-shadow: 0px 4px 20px #eecc0d; /* Sombra abaixo do contêiner */
    
}

.nav-button:hover {
    background-color: #FFD700;
    color: black;
}

/* Estilos para o botão de apresentação */
.project-presentation-button {
    background-color: #000000;
    color: #FFD700;
    padding: 5px 5px; /* Reduz o padding para botões menores */
    text-align: center;
    border: 3px solid #eecc0d;
    border-radius: 20px;
    font-size: 0.8em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 120px; /* Largura definida para os botões */
    padding: 20px 10px; /* Aumenta o padding para mais altura e largura */
    
    box-shadow: 0px 4px 20px #eecc0d; /* Sombra abaixo do contêiner */
}

.project-presentation-button:hover {
    background-color: #FFD700;
    color: black;
}
