body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
    height: 100vh; /* Faz o corpo ocupar 100% da altura da janela */
}

.navbar {
    position: fixed;
    top: 0;
    left: -200px; /* Esconde a barra de navegação inicialmente */
    width: 200px;
    height: 100%;
    background-color: rgba(0, 255, 255, 0.2); /* Cor de fundo ciano claro */
    transition: left 0.3s ease; /* Animação suave para mostrar/esconder */
    box-shadow: 2px 0 10px rgba(0, 255, 255, 0.5); /* Sombra ciana clara */
    z-index: 1000; /* Garante que a navbar fique acima do conteúdo */
}

.navbar ul {
    list-style: none;
    padding: 20px;
}

.navbar ul li {
    margin: 20px 0;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s; /* Animação suave para mudança de cor */
}

.navbar ul li a:hover {
    color: cyan; /* Altera a cor do link ao passar o mouse */
}

.content {
    margin-left: 220px; /* Espaço para a barra de navegação */
    padding: 20px;
}
