<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='scss/AI.css') }}">
    
</head>
<body>


    <div class="image-container"></div>
        <img id="background-image" class="image-background" src="{{ url_for('static', filename='fotos/Java.png') }}" alt="Imagem de fundo representando Java">
    </div>

    <div class="container">

    <h1>Tecnologias Utilizadas</h1>

    <h2>Java</h2>
    <p>Para o desenvolvimento da interface de backend e da lógica do assistente.</p>

    <h2>C++</h2>
    <p>Para processamento de sinal, como manipulação de áudio, se necessário, ou para integração de hardware.</p>

    <h2>Python</h2>
    <p>Para o processamento de dados e interações com APIs externas, especialmente para aprendizado de máquina se precisar de análise de dados.</p>

    <h2>Banco de Dados (DB)</h2>
    <p>Aqui você pode adicionar informações sobre o sistema de gerenciamento de banco de dados que será utilizado.</p>

    <h2>React</h2>
    
    <p>O React será responsável pela criação da interface de usuário (UI) do projeto, permitindo que os usuários interajam com o assistente virtual de forma intuitiva.</p>
</div>
</body>
</html>
