/* Estilos gerais */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

/* Estilos para cabeçalho */
header {
    background-color: #333;
    color: white;
    text-align: center;
}

/* Estilos para navegação */
nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* Estilos para cada seção */
section {
    padding: 20px;
}
