<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Páginas Criadas</title>
</head>
<body>
    <h1>Páginas Criadas.</h1>
    <ul>
        {% for page in pages %}
            <li>
                <a href="{{ url_for('rotas.view_page', page_name=page['page_name']) }}">{{ page['page_name'] }}</a>
                
                <!-- Formulário de exclusão -->
                <form action="{{ url_for('rotas.delete_page', page_name=page['page_name']) }}" method="post" style="display:inline;">
                    <button type="submit">Excluir</button>
                </form>
            </li>
        {% endfor %}
    </ul>

    <a href="{{ url_for('rotas.create_page') }}">Criar Nova Página</a>
</body>
</html>
