<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>{% block title %}Meu Site{% endblock %}</title>
</head>
<body>
    <header>
        <nav>
            {% for page in pages %}
                <a href="{{ url_for('rotas.' + page['page_name'].lower()) }}">{{ page['page_name'] }}</a>
            {% endfor %}
        </nav>
        
        <!-- Formulário para criar uma nova página -->
        <form action="{{ url_for('rotas.create_page') }}" method="post" enctype="multipart/form-data">
            <label for="page_name">Nome da Página:</label>
            <input type="text" id="page_name" name="page_name" required><br><br>
            
            <label for="image">Escolher Imagem:</label>
            <input type="file" id="image" name="image" accept="image/*"><br><br>

            <input type="submit" value="Criar Página">
        </form>
    </header>

    <div class="container">
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>

    <footer>
        <a href="{{ url_for('rotas.create_page') }}">Criar Nova Página</a>
    </footer>
</body>
</html>
